@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

strong {
    font-weight: bold;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }

.top {
    padding-top: 196px;
    padding-bottom: 156px;
    background-color: rgb(225, 255, 143);
    background-image: url(img/Star_2.png), url(img/Star_3.png), url(img/Star_4.png), url(img/Star_5.png), url(img/Vector.png);
    background-repeat: no-repeat;
    background-position: 98px 109px, 193px 69px, calc(100% - 344px) 525px, calc(100% - 450px) 500px, 100% 0px;
    
    &__h1 {
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        padding-top: 196px;
        padding-bottom: 24px;
    }

    &__p {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
    }
    &__button {
        position: static;
        width: 247px;
        height: 66px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10;
        padding: 16px 28px 16px 28px;
        margin: 48px 0px;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        font-family: Montserrat;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
    }
}
.menu {
    height: 90px;
    width: 100%;
    background-color: rgb(189, 237, 53);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    overflow: hidden;
}
.menu-item {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 27px 51px;
    white-space: nowrap;
}
.menu-item_first {
    padding-left: 19px;
}
.menu-img {
    width: 36px;
    height: 36px;
}
.product-box {
    background-color: rgb(32, 32, 39);
    padding-bottom: 96px;
    background-image: url(img/Star_big.png), url(img/Star_small.png), url(img/star_about_games.png);
    background-repeat: no-repeat;
    background-position: 43px 830px, 29px 760px, 1023px 124px;

    &__h2 {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 94px;
        padding-bottom: 24px;
    }
    &__p {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
    }
    &__a {
        display: inline-block; 
        text-decoration: none; 
        color: inherit; 
        transition: transform 0.3s ease;
        /*outline: 1px solid red;*/ 
    }
    &__a:hover .article {
        background: rgb(247, 247, 247);
        transform: scale(1.07);
    }
    &__a_viktorina {
        align-items: flex-end;
        display: flex;
    }
    &__content {
        padding-top: 72px;
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
    }
}
.article {
    width: 378px;
    border-radius: 30px;
    background: rgb(247, 247, 247);

    &__image {
        border-radius: 30px 30px;
        width: 100%;
    }
    &__text {
        padding: 32px 32px 36px 32px;
    }
    &__number {
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 16px;
    }
    &__name {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;
    }
}

.miniigry {
    background-color: rgb(32, 32, 39);
    background-image: url(img/Star_big.png), url(img/Star_small.png), url(img/Star_big.png), url(img/Star_small.png);
    background-repeat: no-repeat;
    background-position: 1383px 60px, 1329px 20px, 1400px 3290px, 1323px 3350px;
    padding-bottom: 144px;
    &__h2 {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 46px;
        padding-bottom: 72px;
    }
    &__content {
        padding-bottom: 32px;
    }
}    
.miniigry-article {
    width: 100%;
    height: 500px;
    border-radius: 30px;
    background: rgb(247, 247, 247);
    display: flex;
    overflow: hidden;
    justify-content: space-between;

    &__text {
        padding: 46px;
        width: 600px;
    }
    &__name {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0px;
        text-align: left;
    }
    &__opis {
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 24px;
    }
    &__image {
        width: 50%;
    }
}    
.footer {
    background: rgb(189, 237, 53);
    
    &__text {
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;
        padding-top: 61px;
        padding-bottom: 60px;
    }
}

@import 'mobile';
