@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

strong {
  font-weight: bold;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 800px;
  background-image: url(img/topfon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top__h1 {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 196px;
  padding-bottom: 24px;
}
.top__p {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.top__button {
  position: static;
  width: 247px;
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 16px 28px 16px 28px;
  margin: 48px 0px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  font-family: Montserrat;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
}

.product-box {
  background-image: url(img/vonfon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.product-box__h2 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 94px;
  padding-bottom: 24px;
}
.product-box__p {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.product-box__a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease;
  /*outline: 1px solid red;*/
}
.product-box__a:hover .article {
  background: rgb(247, 247, 247);
  transform: scale(1.07);
}
.product-box__a_viktorina {
  align-items: flex-end;
  display: flex;
}
.product-box__content {
  padding-top: 72px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.article {
  width: 378px;
  border-radius: 30px;
  background: rgb(247, 247, 247);
}
.article__image {
  border-radius: 30px 30px;
  width: 100%;
}
.article__text {
  padding: 32px 32px 36px 32px;
}
.article__number {
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 16px;
}
.article__name {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mobile-hide {
    display: none;
  }
  .top {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .top__h1 {
    color: rgb(32, 32, 39);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
  }
  .top__p {
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
  .top__button {
    position: static;
    width: 285px;
    height: 55px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
  }
  .obigrah {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */